{% extends 'base.html.twig' %}

{% block body %}
<section class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Nouveau éditeur</h1>
            {{ include('editor/_form.html.twig') }}
        </div>
    </div>
</section>

{% endblock %}